* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 50px 1fr 180px;
    max-width: 100vw;
    min-height: 100vh;
    height: auto;
}


/* -------------------------------------------------------------HEADER */


.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header__logo-container {
    max-width: 120px;
    display: flex;
}
.header__logo {
    max-width: 100%;
}
.header__details {
    position: relative;
}
.header__summary {
    list-style: none;
    width: 30px;
}
.header__summary img {
    width: 100%;
    transition: transform 0.2s ease-in-out;
    &:hover, :active {
        transform: scale(120%);
    }
}
.header__nav {
    box-shadow: 0 0 5px #f005;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    padding: 30px 10px;
    width: auto;
    z-index: 2;
}
.header__nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.header__nav-item {
    transition: transform 0.2s ease-in-out;
    &:active {
        transform: scale(120%);
    }
}
.header__nav-icono {
    box-shadow: 0 0 5px #f00;
    border-radius: 10px;
    padding: 10px 20px;
    height: 45px;
}


/* ------------------------------------------------------------MAIN */


.main {
    background: linear-gradient(#fff, #f003);
    border-top: 2px solid #f00;
    border-bottom: 2px solid #f00;
    padding: 5px;
}
.main__nav {
    width: 100%;
    display: none;
}
.main__nav-icono {
    max-height: 23px;
    transition: transform 0.2s ease-in-out;
    &:active {
        transform: scale(110%);
    }
}
.main__nav-list {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main__nav-details {
    position: relative;
}
.main__nav-details summary {
    list-style: none;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__nav-2 {
    box-shadow: 0 0 5px #f005;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    padding: 10px;
    width: auto;
}
.main__nav-2-izquierda {
    left: 0;
}
.main__nav-2-centro {
    left: -60px;
}
.main__nav-2-derecha {
    left: -55px;
}
.main__nav-2-list {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.main__nav-2-item {
    display: flex;
    gap: 5px;
}
.main__nav-2-icono {
    height: 21px;
}
.main__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
}
.main__section-details {
    border: solid 2px #f009;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}
.main__section-details-summary {
    list-style: none;
}
.main__section-details-summary h2 {
    text-align: center;
    font-size: 15px;
    letter-spacing: 4px;
    color: #a00;
}
.main__section-details-container {
    border-top: dotted 1px #f00;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}
.main__article {
    box-shadow: 0 0 5px #a005;
    background-color: #fff;
    border-radius: 10px;
    color:#a00;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__article header h2 {
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
}
.main__article-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__article-details {
    position: relative;
}
.main__article-summary {
    list-style: none;
    border-radius: 5px;
    height: 100%;
}
.main__article-summary-img {
    max-height: 100%;
    max-width: 100%;
}
.main__article-details-img {
    background-color: #fff;
    box-shadow: 0 0 5px #a00;
    border-radius: 20px;
    position: absolute;
    max-width: 316px;
    min-height: 290px;
    top: 100px;
    z-index: 1;
}
.main__article-details-img-front {   
    left: -10px;
}
.main__article-details-img-back {
    left: -148px;
}
.main__article footer {
    font-size: 12px;
    padding: 5px 15px;
    text-align: center;
}
.main__article-footer-price {
    font-size: 16px;
    padding: 3px 10px;
    text-align: center;
}


/* -------------------------------------------------------FOOTER */


.footer {
    background-color: #f001;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f00;
}
.footer__container {
    text-align: center;
    line-height: 2;
    font-size: 14px;
    padding: 5px;
}
.footer__container a {
    color: #f00;
}