* {
    box-sizing: border-box;
}
body {
    background-color: #bef4;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #025;
}
body, header, section, div, a {
    margin: 0;
    padding: 0;
}

.section {
    border: 10px solid #026;
    border-radius: 7px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section__left-logo-container {
    height: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
    animation: izquierdaDerecha 3s;
}
.section__left-logo {
    max-width: 70%;
    max-height: 100%;
    margin-left: 20px;
}
.section__rigth-logo-container {
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    animation: derechaIzquierda 3s;
}
.section__rigth-logo {
    max-width: 80%;
    max-height: 100%;
    margin-right: 20px;
}
.section__huella-container {
    height: 110px;
    display: flex;
    justify-content: center;
    animation: aparecer 3s ease-in-out 3s both;
}
.section__huella {
    max-width: 80%;
    max-height: 100%;
}

@keyframes izquierdaDerecha {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes derechaIzquierda {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
